@model ChangePasswordViewModel
@inject IViewLocalizer Localizer

<div class="login-page">
    <div class="page-header">
        <h3>@Localizer["RESET_PASSWORD"]</h3>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="ChangePassword">
                <input asp-for="Username" type="hidden" />
                <input asp-for="ReturnUrl" type="hidden" />
                <div class="form-group">
                    <label asp-for="Password">@Localizer["OLDPASSWORD"]</label> <label class="requiered-field-asterisk">*</label>
                    <input type="password" asp-for="OldPassword" class="form-control" autocomplete="off" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">@Localizer["PASSWORD"]</label> <label class="requiered-field-asterisk">*</label>
                    <input type="password" asp-for="Password" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <h6>@Localizer["CHECK_PASSWORD"]</h6>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">@Localizer["CONFIRM_PASSWORD"]</label> <label class="requiered-field-asterisk">*</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">@Localizer["RESET"]</button>
            </form>
        </div>
    </div>
</div>