@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer

<div class="login-page">
    <div class="page-header">
        <h3>@Localizer["FORGOTTEN_PASSWORD"]</h3>
    </div>

    <h2>@ViewData["Title"]</h2>
    <hr />

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div>
                    <div>
                        <h4>
                            @Localizer["ACCESS_METHOD"]
                        </h4>
                    </div>
                    <h4>
                        <span>
                            @Html.RadioButtonFor(model => model.ResetByDNI, false)<label asp-for="Email">@Localizer["EMAIL"]</label>

                        </span>
                        <span>
                            @Html.RadioButtonFor(model => model.ResetByDNI, true)<label asp-for="DNI">@Localizer["DNI"]</label>
                        </span>
                    </h4>
                </div>
                <div class="form-group">
                    <div id="emailControls">
                        <label asp-for="Email">@Localizer["EMAIL"]</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div id="dniControls">
                        <label asp-for="DNI">@Localizer["DNI"]</label>
                        <input asp-for="DNI" class="form-control" />
                        <span asp-validation-for="DNI" class="text-danger"></span>
                        <label asp-for="ResetEmail">@Localizer["RESET_EMAIL"]</label>
                        <input asp-for="ResetEmail" class="form-control" />
                        <span asp-validation-for="ResetEmail" class="text-danger"></span>
                        <h6>@Localizer["RESET_ONLY_PURPOSE"]</h6>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" id="submit">@Localizer["SUBMIT"]</button>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/forgotPassword.js"></script>
}